[Unit]
Description=SpaceHack Console game client
After=syslog.target

[Service]
ExecStart=/usr/bin/python /opt/SpacehackClient/game.py
WorkingDirectory=/opt/SpacehackClient
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
